<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
		<div class="row">
			<div class="col-lg-12">
			
			
				<!-- Actual App Contents -->
				
				<br /><h2>Create a new Meme</h2><br />
				
				<form ng-submit="createMeme()" action="javascript:false;">
					<p><input type="text" class="form-control" placeholder="Image URL.." ng-model="newItem.image" /></p>
					<p><input type="text" class="form-control" placeholder="Meme Text.." ng-model="newItem.text" /></p>
					<p><input type="submit" class="form-control btn btn-success" value="Create!" /></p>
				</form>
				
				
			</div>
		</div>
	</div>
</div>